.product-img {
    max-width: 80%;
}

.producttitle {
    font-weight: 600;
}

.price {
    color: rgb(244, 80, 66);
}

.count-input {
    background-color: #fff;
    border: 2px solid #212529;
    border-radius: 8px;
    display: inline-flex;
    overflow: hidden;
}

.count-input .btn {
    border: 0;
    border-radius: 0;
}

.count-input .btn:hover {
    background-color: #eef1f6;
    color: #181d25;
}

.count-input .btn:active {
    background-color: #eef1f6;
}

.count-input .btn-lg+.form-control {
    width: 3rem;
}

.count-input .form-control {
    appearance: textfield;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    font-weight: 500;
    padding: 0 .25rem;
    text-align: center;
    width: 2.5rem;
}

.info {
    width: 88%;
}

.space{
    height: 10px;
}

.quantity-number::-webkit-outer-spin-button,
.quantity-number::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.custom-capitalize {
    text-transform: none;
    font-family: "Roboro", sans-serif;
    font-weight: 400;
}

.custom-capitalize::first-letter {
    text-transform: uppercase;
}

.heart-fill {
    color: #e74c3c;
}

.heart-empty {
    color: #797a7c;
}

.heart-fill:hover {
    color: #797a7c;
}

.heart-empty:hover {
    color: #e74c3c;
}

textarea.form-control:focus {
    box-shadow: none;
    border: 1px solid #212529;
}

.reviewText .form-control {
    border-radius: 0;
    border: 1px solid #797a7c;
}

.post-review {
    border-radius: 0;
}

.animate-underline .animate-target, .animate-underline.animate-target {
    position: relative;
    text-decoration: none;
}

.animate-underline:hover {
    text-decoration: underline;
}

a, button {
    text-underline-offset: .25em;
}
